@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
* {
  font-family: 'Inter', sans-serif;
  padding: 0; margin: 0;
}
html {
  overflow: overlay
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
.container_preview {
  max-width: 1440px;
  margin: 0 auto;
}
.container {
  max-width: 1220px;
  margin: 0 auto;
}